@import "tailwindcss";

:root {
  --primary: #adc6ff;
  --secondary: #d0bcff;
  --tertiary: #4edea3;
  --error: #ffb4ab;
  --primary-container: #4d8eff;
  --secondary-container: #571bc1;
  --tertiary-container: #00a572;
  --error-container: #93000a;
  --surface-dim: #0c1324;
  --surface-container-lowest: #070d1f;
  --surface-container-low: #151b2d;
  --surface-container: #191f31;
  --surface-container-high: #23293c;
  --surface-container-highest: #2e3447;
  --surface-bright: #33394c;
  --surface-tint: #adc6ff;
  --surface-variant: #2e3447;
  --on-surface: #dce1fb;
  --on-surface-variant: #c2c6d6;
  --on-background: #dce1fb;
  --on-primary: #002e6a;
  --on-secondary: #3c0091;
  --on-tertiary: #003824;
  --on-error: #690005;
  --on-primary-container: #00285d;
  --on-secondary-container: #c4abff;
  --on-tertiary-container: #00311f;
  --on-error-container: #ffdad6;
  --outline: #8c909f;
  --outline-variant: #424754;
  --background: #0c1324;
  --surface: #0c1324;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--on-surface);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
